<div class="recipe" *ngIf="recipe$ | async as recipe">
  <img class="recipe-image" [src]="recipe.image | imageUrl" [alt]="recipe.name" />

  <div class="recipe-details">
    <h2 class="recipe-name">{{ recipe.name }}</h2>

    <p class="recipe-description" *ngIf="recipe.description">{{ recipe.description }}</p>

    <ul class="recipe-ingredients">
      <li class="recipe-ingredients-item" *ngFor="let ingredient of recipe.ingredients">{{ ingredient.name | titlecase }}</li>
    </ul>

    <a class="button" [routerLink]="'/recipes/' + recipe.id + '/edit'">Edit</a>
  </div>
</div>
