<div class="recipes">
  <div class="recipes-header">
    <button (click)="onCreteRecipe()" [disabled]="mode === 'create'">{{ recipesTextsConfig?.createButton ?? 'Create Recipe' }}</button>
    <app-search
      class="recipes-search"
      [placeholderText]="recipesTextsConfig?.searchPlaceholder ?? 'Search recipe..'"
      (searchChanged)="onSearchChanged($event)"
    ></app-search>
  </div>

  <div class="recipes-content">
    <app-recipes-list
      [recipes]="recipes$ | async"
      [selectedItem]="selectedRecipe"
      (itemSelected)="onItemSelected($event)"
      (itemEdited)="onItemEdited($event)"
      (itemDeleted)="onItemDeleted($event)"
    ></app-recipes-list>

    <ng-container [ngSwitch]="mode">
      <app-recipes-details *ngSwitchCase="'details'" [recipe]="selectedRecipe!"></app-recipes-details>
      <app-recipes-form *ngSwitchCase="'create'"></app-recipes-form>
      <app-recipes-form [recipe]="selectedRecipe!" *ngSwitchCase="'edit'"></app-recipes-form>
      <!--      <app-recipes-form *ngSwitchDefault="'edit'"></app-recipes-form>-->
    </ng-container>
  </div>
</div>
