<div class="recipes">
  <div class="recipes-header">
    <button (click)="onCreteRecipe()" [disabled]="isCreate">{{ recipesTextsConfig?.createButton ?? 'Create Recipe' }}</button>
    <app-search
      class="recipes-search"
      [placeholderText]="recipesTextsConfig?.searchPlaceholder ?? 'Search recipe..'"
      [isDisabled]="!!selectedRecipe"
      (searchChanged)="onSearchChanged($event)"
    ></app-search>
  </div>

  <div class="recipes-content">
    <app-recipes-list
      [recipes]="recipes$ | async"
      [selectedItem]="selectedRecipe"
      (itemSelected)="onItemSelected($event)"
      (itemEdited)="onItemEdited($event)"
      (itemDeleted)="onItemDeleted($event)"
    ></app-recipes-list>

    <div *ngIf="sideViewOpen">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
