.recipe {
  padding: 1rem;
  border: var(--border-black);
  border-radius: var(--border-radius-md);
  display: flex;
  align-items: center;
  gap: 1rem;

  &.selected {
    background: var(--color-gray-light);
  }

  &-details {
    width: 10rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &-image {
    height: 3.5rem;
    border-radius: var(--border-radius-md);
  }

  &-name {
  }

  &-description {
    font-size: var(--font-size-sm);
    color: var(--color-gray-dark);

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &-actions {
    display: flex;
    gap: 0.5rem;

    &-confirmation {
      font-size: var(--font-size-sm);
    }
  }
}
